<div class="wrapper">
  <header>
    <h1>Hola 👋</h1>
    <span class="subtitle">{{pendingTasksText}}</span>
  </header>

  <main>
    <!-- New task form -->
    <app-card [background]="false">
      <div class="task-card-body">
        <div class="task-card-main">
          <app-checkbox
            [id]="'form-checkbox'"
            [(checked)]="taskFormData.completed"
          ></app-checkbox>
          <app-text-input
            [(value)]="taskFormData.title"
            [placeholder]="'Añade una nueva tarea...'"
            (submit)="submitForm()"
            (exit)="resetForm()"
          ></app-text-input>
        </div>
        <div class="task-card-actions">
          <app-labeled-icon
            [icon]="addIcon"
            [label]="'Agregar'"
            ngClass="task-card-action add-icon"
            (click)="submitForm()"
          ></app-labeled-icon>
        </div>
      </div>
    </app-card>
    <!-- Task list -->
    <app-card *ngFor="let task of taskList" (doubleClick)="editTask(task.id)">
      <div class="task-card-body">
        <div class="task-card-main">
          <app-checkbox
            [id]="'checkbox-' + task.id"
            [(checked)]="task.completed"
            (change)="onToggledCheckbox($event, task.id)"
          ></app-checkbox>
          <h3
            class="task-title-display"
            *ngIf="!this.isEditingCurrentTask(task.id); else editTextInput"
          >
            {{task.title}}
          </h3>
          <ng-template #editTextInput>
            <ng-container *ngIf="editingTask">
              <app-text-input
                *ngIf="editingTask.id === task.id"
                [(value)]="editingTask.title"
                [placeholder]="'Ingresa un título para la tarea...'"
                (submit)="saveTask()"
                (exit)="cancelEdit()"
                [focus]="true"
              ></app-text-input>
            </ng-container>
          </ng-template>
        </div>
        <div class="task-card-actions">
          <ng-container
            *ngIf="!this.isEditingCurrentTask(task.id); else editActions"
          >
            <app-labeled-icon
              [icon]="editIcon"
              [label]="'Editar'"
              ngClass="task-card-action edit-icon"
              (click)="editTask(task.id)"
            ></app-labeled-icon>
            <app-labeled-icon
              [icon]="deleteIcon"
              [label]="'Eliminar'"
              ngClass="task-card-action delete-icon"
              (click)="deleteTask(task.id)"
            ></app-labeled-icon>
          </ng-container>
        </div>
        <ng-template #editActions>
          <app-labeled-icon
            [icon]="cancelIcon"
            [label]="'Cancelar'"
            ngClass="task-card-action cancel-icon"
            (click)="cancelEdit()"
          ></app-labeled-icon>
        </ng-template>
      </div>
    </app-card>
  </main>

  <footer>
    <p>
      Pro tip ☝️🤓: {{proTip}}
      <app-labeled-icon
        [icon]="reloadIcon"
        (click)="getNextProTip()"
        [ngClass]="'reload-icon'"
      ></app-labeled-icon>
    </p>
    <p>
      Hecho por JCAguilera -
      <a href="https://github.com/JCAguilera" target="_blank">GitHub</a> -
      <a href="https://jcaguilera.com" target="_blank">Website</a>
    </p>
  </footer>
</div>
